<template>
	<section>
		<header><h2>Add a Channel</h2></header>
		<form>
			<label>Name of Channel</label>
			<input type="text" v-model="name">
			<label>Keep Server Side Log
				<input type="checkbox" v-model="keep_log">
			</label>
			<label>Public Channel
				<input type="checkbox" v-model="is_public">
			</label>
			<label>Invite Users</label>
			<input type="text" v-model="subscribers">
			<label>Topic</label>
			<input type="text" v-model="description">
			<button>Add Channel</button>
		</form>
	</section>
</template>

<script>
export default {
	data () {
		return {
			name: '',
			keep_log: false,
			is_public: false,
			subscribers: '',
			description: ''
		}
	}
}
</script>

<style scoped>
h2{
	margin: 0;
}
form{
	display: flex;
	flex-direction:column;
}
</style>
