<template>
	<section>
		<header><h2>Finish a Story</h2></header>
		<form>
			<label>Choose Story</label>
			<select name="story">
				<option>Story 6</option>
				<option>Story 5</option>
				<option>Story 4</option>
			</select>
			<strong>Prompt</strong> Story prompt
			<strong>Players</strong> List, Of, Players
			<strong>Characters</strong> List, Of, Characters
			<label>Message to other players</label>
			<textarea name="message"></textarea>
			<label name="force">Force Finish. (Finishes only for you, and removes you from the players list for the story. Good for cleanup.)<input type="checkbox"></label>
			<button>Finish Story</button>
		</form>
	</section>
</template>

<script>
export default {
}
</script>

<style scoped>
h2{
	margin: 0;
}
label{
	font-weight: bold;
}
form{
	display: flex;
	flex-direction:column;
}
</style>
