<template>
	<section>
		<header><h2>Publish a Story</h2></header>
		<form>
			<label>Choose Story</label>
			<select name="story">
				<option>Story 3</option>
				<option>Story 2</option>
				<option>Story 1</option>
			</select>
			<strong>Prompt</strong> Story prompt
			<strong>Players</strong> List, Of, Players
			<strong>Characters</strong> List, Of, Characters
			<label>Message to other players</label>
			<textarea name="message"></textarea>
			<label>Summary</label>
			<input type="text" name="summary" value="Story prompt">
			<label>Commentary</label>
			<textarea name="comment"></textarea>
			<button>Publish Story</button>
		</form>
	</section>
</template>

<script>
export default {
}
</script>

<style scoped>
h2{
	margin: 0;
}
label{
	font-weight: bold;
}
form{
	display: flex;
	flex-direction:column;
}
</style>
