<template>
	<section id="chat">
		<chat-window />
		<user-list />
	</section>
</template>

<script>
import ChatWindow from '@/components/ChatWindow.vue'
import UserList from '@/components/UserList.vue'

export default {
	components:{
		ChatWindow,
		UserList
	}
}
</script>

<style scoped>
#chat{
	display: grid;
	grid: auto-flow / 4fr 1fr;
}
</style>
