<template>
	<section id="main">
		<nav-list />
		<router-view></router-view>
	</section>
</template>

<script>
import NavList from '@/components/NavList.vue'

export default {
	components:{
		NavList
	}
}
</script>

<style scoped>
body, html, #main{
	height: 100vh;
	width: 100vw;
}

#main{
	display: grid;
	grid: auto-flow / 1fr 5fr;
}
</style>
