<template>
	<section>
		<header><h2>Settings</h2></header>
		<form>
			<label>Theme</label>
			<select name="selected_theme">
				<option>Light Mode</option>
				<option>Dark Mode</option>
				<option>Add Theme</option>
			</select>
			<label>Theme Name</label>
			<input type="text" name="theme_name">
			<label>Interface Text Color</label>
			<input type="color" name="interface_text_color">
			<label>Interface Background Color</label>
			<input type="color" name="interface_background_color">
			<label>IC Text Color</label>
			<input type="color" name="ic_text_color">
			<label>IC Text Background</label>
			<input type="color" name="ic_text_background">
			<label>OOC Text Color</label>
			<input type="color" name="ooc_text_color">
			<label>OOC Text Background</label>
			<input type="color" name="ooc_text_background">
			<label>Self Text Color</label>
			<input type="color" name="self_text_color">
			<label>Self Text Background</label>
			<input type="color" name="self_text_background">
			<button>Save</button>
		</form>
	</section>
</template>

<script>
export default {
}
</script>

<style scoped>
h2{
	margin: 0;
}
form{
	display: flex;
	flex-direction: column;
}
</style>
