<template>
	<section>
		<header><h2>New Character</h2></header>
		<form>
			<label>Name</label>
			<input type="text" name="name">
			<label>Password</label>
			<input type="password" name="password">
			<button>Randomly Generate Password</button>
			<label>Description</label>
			<textarea></textarea>
			<fieldset>
				<legend>Character Sheet</legend>
				<label>Stat 1</label>
				<input type="number" name="stat_1">
				<label>Stat 2</label>
				<input type="text" name="stat_2">
			</fieldset>
			<label>Remove Info 1<input type="checkbox" name="remove_info_1"></label>
			<label>Info 1 Title</label>
			<input type="text" name="info_1_title">
			<label> Info 1 Text</label>
			<textarea></textarea>
			<button>Add New Info Area</button>
			<button>Save</button>
		</form>
	</section>
</template>

<script>
export default {
}
</script>

<style scoped>
h2{
	margin: 0;
}
form, fieldset{
	display: flex;
	flex-direction: column;
}
</style>
