<template>
	<section>
		<h1>Welcome to MUSH</h1>
		<p>Some basic info about the mush</p>
		<router-link to="/signup">Click here if you don't have a character</router-link>
		<h2>Log into an existing character</h2>
		<form id="login" @submit.prevent="login">
			<label>Username</label>
			<input type="text" v-model="username">
			<label>Password</label>
			<input type="password" v-model="password">
			<button type="submit">Sign Up</button>
		</form>
	</section>
</template>

<script>
export default {
	data () {
		return {
			username: '',
			password: ''
		}
	},
	methods: {
		login () {
			this.$store.dispatch('login',{
				username: this.username,
				password: this.password
			})
		}
	}
}
</script>

<style scoped>
form{
	display:flex;
	flex-direction:column;
}
</style>
