<template>
	<section id="chat_window">
		<section id="backlog_container">
			<section id="backlog">
				<section v-for="message in messages">
					<details open>
					<summary>{{message.from}}</summary>
					{{message.message}}
					</details>
				</section>
			</section>
		</section>
		<form id="primary_chatbox" class="primary chatbox" @submit.prevent="primary_submit">
			<input type="text" v-model="primary_text">
			<button type="submit">Send</button>
		</form>
		<form id="secondary_chatbox" class="secondary chatbox" @submit.prevent="secondary_submit">
			<input type="text" v-model="secondary_text" style="height:3rem;">
			<button type="submit">Send</button>
		</form>
	</section>
</template>

<script>
import {mapState} from 'vuex'

export default {
	data () {
		return{
			primary_text: '',
			secondary_text: ''
		}
	},
	computed: mapState({
		messages: state=>state.display.messages
	}),
	updated () {
		if(this.$store.state.received){
			this.$el.querySelector('#backlog').lastChild.scrollIntoView();
			this.$store.commit('received',false);
		}
	},
	methods:{
		primary_submit () {
			this.$store.dispatch('send_message', this.primary_text)
			this.primary_text=''
		},
		secondary_submit () {
			this.$store.dispatch('send_message', this.secondary_text)
			this.secondary_text=''
		}
	}
}
</script>

<style scoped>
#chat_window{
 display: flex;
 flex-flow: column;
 height: 100vh;
 width: 100%;
 position: relative;
 top:0;
 left:0;
}
#backlog_container{
	position: relative;
	top:0;
	left:0;
	height: 100%;
	background-color: #0F0F0F;
	color: #F0F0F0;
	display: flex;
	overflow-y:scroll;
}
#backlog{
	font-family: monospace;
	/*white-space: pre-wrap;*/
	word-wrap: normal;
	margin-top: auto;
}
.chatbox{
	display: flex;
	width: 100%;
}
.chatbox input{
	width: 100%;
}
section{
	margin: 0;
}
section.ooc{
	background-color: #FFF;
	color: #000;
}
section.self{
	background-color: sectionurple;
}

</style>
