<template>
	<section id="sidebar">
		<details open>
			<summary>Channels</summary>
			<menu>
				<li><router-link :to="{name: 'Add Channel'}">Add Channel</router-link></li>
				<li v-for="channel in channels"><a href="#">{{channel.name}}</a></li>
			</menu>
		</details>
	</section>
</template>

<script>
import {mapState} from 'vuex'

export default {
	computed:mapState({
		channels: state=>state.channels
	}),
	methods: {
	}
}
</script>

<style>
#sidebar{
	user-select: none;
}
.selected{
	font-style: italic;
}
</style>
