<template>
	<section id="character-bar">
		<header>Users</header>
		<menu>
			<li v-for="character in characters">
				<router-link :to="'/character/view/'.concat(character)">{{character}}</router-link>
			</li>
		</menu>
		<div style="margin-top:auto;width:100%;display:flex;margin-bottom:1rem;">
			<label style="margin-right: 1ex">Filter</label>
			<input type="text" style="padding:0;margin:0;border:solid 1px black;font-size:unset;">
		</div>
	</section>
</template>

<script>
import {mapState} from 'vuex'

export default {
	computed:mapState({
		characters: state=>state.local_characters
	})
}
</script>

<style scoped>
#character-bar{
	user-select: none;
	display:flex;
	flex-direction:column;
}
menu{
	list-style: none;
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
	padding: 0;
}
</style>
