<template>
	<section>
		<header><h2>Add a Story</h2></header>
		<form>
			<label>Name of Story</label>
			<input type="text" name="name">
			<label>Participating Characters</label>
			<input type="text" name="characters">
			<label>Prompt</label>
			<input type="text" name="prompt">
			<label>When do you want to start?</label>
			<input type="datetime-local" name="start_time">
			<label>Estimated Play Time</label>
			<input type="number" name="estimated_playtime">
			<label>Estimated Complexity</label>
			<input type="number" name="estimated_complexity">
			<button>Add Story</button>
		</form>
	</section>
</template>

<script>
export default {
}
</script>

<style scoped>
h2{
	margin: 0;
}
form{
	display: flex;
	flex-direction:column;
}
</style>
