<template>
	<edit-window/>
</template>

<script>
/*
import axios from '~/plugins/axios'

export default {
  async asyncData () {
    let { data } = await axios.get('/api/users')
    return { users: data }
  },
  head () {
    return {
      title: 'Users'
    }
  }
}
 */
	import EditWindow from '~/components/EditWindow.vue'

export default {
	components:{
		EditWindow
	},
	layout:'chat'
}
</script>

<style scoped>
</style>
