<template>
	<section id="main">
		<header><h2>Wiki - Character</h2></header>
		<button>Bookmark</button>
		<section class="infoblock">
			<ul>
				<li><strong>Stat 1</strong><span>1</span></li>
				<li><strong>Finger Section 1</strong><span>Information</span></li>
			</ul>
		</section>
		<section class="content">
			<section class="description">
				<p>General description. This is what shows up when you `look` at a character</p>
			</section>
			<section>
				<header><h3>Info Section 1</h3></header>
				<p>Something that would show up when you `+info` someone</p>
			</section>
			<section>
				<header><h3>Owns</h3></header>
				<menu>
					<li>Object 1</li>
					<li>Location 1</li>
				</menu>
			</section>
		</section>
	</section>
</template>

<script>
export default {
}
</script>

<style scoped>
.infoblock{
	float: right;
}
</style>
