<template>
	<section id="main">
		<header><h2>Wiki</h2></header>
		<button>Bookmark</button>
		<section class="toc">
			<header><h3>Table of Contents</h3></header>
			<menu>
				<li> Locations </li>
				<li> Characters </li>
			</menu>
		</section>
		<section class="content">
			<section>
				<p>General info about the setting and stuff I guess</p>
			</section>
			<section>
				<header>Locations</header>
				<menu>
					<li><a href="wiki/location">Area 1</a></li>
					<li>Area 2</li>
					<li>Area 3</li>
				</menu>
			</section>
			<section>
				<header>Characters</header>
				<a href="#">Link to Character Generation Rules</a>
				<menu>
					<li><a href="wiki/character">Character 1</a></li>
					<li>Character 2</li>
					<li>Character 3</li>
				</menu>
			</section>
			<section>
				<header>Information</header>
				<menu>
					<li><a href="wiki/info">Information 1</a></li>
					<li>Information 2</li>
					<li>Information 3</li>
				</menu>
			</section>
		</section>
	</section>
</template>

<script>
export default {
}
</script>

<style scoped>
.infoblock{
	float: right;
}
</style>
