<template>
	<section id="main">
		<header><h2>Wiki - Info</h2></header>
		<button>Bookmark</button>
		<section class="content">
			<section>
				<p>General info about the setting and stuff I guess. Shows up under the general `news` command.</p>
			</section>
		</section>
	</section>
</template>

<script>
export default {
}
</script>

<style scoped>
.infoblock{
	float: right;
}
</style>
