<template>
	<section id="main">
		<header><h2>Wiki - Location</h2></header>
		<button>Bookmark</button>
		<button>Start a story here</button>
		<section class="infoblock">
			<ul>
				<li><img alt="Location Image"></li>
				<li><strong>Owned by</strong><span>Character</span></li>
				<li>
					<section>
						<header><h3>Leads to</h3></header>
						<menu>
							<li>Location 1</li>
							<li>Location 2</li>
						</menu>
					</section>
				</li>
			</ul>
		</section>
		<section class="content">
			<section class="description">
				<p>General description. This is what shows up when you `look` at the location.</p>
			</section>
			<section>
				<header><h3>Contents</h3></header>
				<menu>
					<li>Object 1</li>
					<li>Object 2</li>
				</menu>
			</section>
		</section>
	</section>
</template>

<script>
export default {
}
</script>

<style scoped>
h2{
	margin: 0;
}
.infoblock{
	float: right;
}
</style>
