<template>
	<section id="main">
		<header><h2>Wiki - Published Stories</h2></header>
		<button>Bookmark</button>
		<section class="content">
			Published stories are presented as the timeline.
			<menu>
				<li>
					<section>
						<header><strong>Story 1</strong></header>
						<p> A short summary of Story 1</p>
					</section>
				</li>
				<li>
					<section>
						<header><strong>Story 2</strong></header>
						<p> A short summary of Story 2</p>
					</section>
				</li>
				<li>
					<section>
						<header><strong>Story 3</strong></header>
						<p> A short summary of Story 2</p>
					</section>
				</li>
			</menu>
		</section>
	</section>
</template>

<script>
export default {
}
</script>

<style scoped>
.infoblock{
	float: right;
}
</style>
