<template>
	<section>
		<header><h2>New User</h2></header>
		<form id="signup" @submit.prevent="signup">
			<label>Username</label>
			<input type="text" v-model="username">
			<label>Password</label>
			<input type="password" v-model="password">
			<button type="submit">Sign Up</button>
		</form>
	</section>
</template>

<script>
export default {
	data () {
		return{
			username: '',
			password: ''
		}
	},
	methods: {
		signup () {
			this.$store.dispatch('signup',{
				username: this.username,
				password: this.password
			})
		}
	}
}
</script>

<style scoped>
h2{
	margin: 0;
}
form, fieldset{
	display: flex;
	flex-direction: column;
}
</style>
